<div class="list-group">
    <a href="{% url 'djan_led:entity_dashboard' entity.slug %}" class="list-group-item list-group-item-action active">
        <i class="fas fa-home"></i> Dashboard
    </a>

    <a href="{% url 'ChurchApp:church_data_entry_home' entity.slug %}" class="list-group-item list-group-item-action">
        <i class="fas fa-book"></i> Church Member Management
    </a>

    <a href="{% url 'ChurchApp:role_create' entity.slug %}" class="list-group-item list-group-item-action">
        <i class="fas fa-book"></i> Create Roles for Church Members
    </a>

    <a href="{% url 'ChurchApp:service_list_manage' entity.slug %}" class="list-group-item list-group-item-action">
        <i class="fas fa-book"></i> Enter Details of a Service 
    </a>


     <a href="{% url 'ChurchApp:church_data_entry_home' entity.slug %}" class="list-group-item list-group-item-action">
        <i class="fas fa-book"></i> Enter Data For Clergy, Ushers, Officiants & Guild
    </a>

   

    

    <a href="{#}" class="list-group-item list-group-item-action">
        <i class="fas fa-book"></i> Create Roles/Guilds For Mmembers
    </a>
    <a href="{#}" class="list-group-item list-group-item-action">
        <i class="fas fa-plus-circle"></i> Chart Of Accounts
    </a>

    <a href="{#}" class="list-group-item list-group-item-action">
        <i class="fas fa-list"></i> Journal Entries
        
    </a>
    <a href="{#}" class="list-group-item list-group-item-action">
        <i class="fas fa-balance-scale"></i> Trial Balance
    </a>
    <a href="{#}" class="list-group-item list-group-item-action">
        <i class="fas fa-chart-line"></i> Income Statement
    </a>
    <a href="{#}" class="list-group-item list-group-item-action">
        <i class="fas fa-file-alt"></i> Balance Sheet
    </a>
    <a href="{#}" class="list-group-item list-group-item-action">
        <i class="fas fa-money-bill-wave"></i> Cash Flow
    </a>
    <a href="{#}" class="list-group-item list-group-item-action">
        <i class="fas fa-money-bill-wave"></i> Cash Flow
    </a>

    <a href="{#}" class="list-group-item list-group-item-action">
        <i class="fas fa-coins"></i> Opening Balance
    </a>
    <a href="{#}" class="list-group-item list-group-item-action">
        <i class="fas fa-users"></i> Members
    </a>
    <a href="{#}" class="list-group-item list-group-item-action">
    <i class="fas fa-cog"></i> Entity Settings
    </a>

    <a href="{#}" class="list-group-item list-group-item-action">
        <i class="fas fa-hand-holding-heart"></i> Offerings
    </a>
</div>