<div class="list-group">
    <a href="{% url 'djan_led:entity_dashboard' entity.slug %}" class="list-group-item list-group-item-action active">
        <i class="fas fa-home"></i> Dashboard
    </a>
    <a href="{% url 'ChurchApp:member_list_manage' entity.slug %}" class="list-group-item list-group-item-action">
        <i class="fas fa-book"></i> Manage Members

     <a href="{% url 'ChurchApp:clergy_list_manage' entity.slug %}" class="list-group-item list-group-item-action">
        <i class="fas fa-book"></i> Manage The Clergy
    </a>

    <a href="{% url 'ChurchApp:usher_list_manage' entity.slug %}" class="list-group-item list-group-item-action">
        <i class="fas fa-book"></i> Manage Ushers
    </a>

    <a href="{% urls 'ChurchApp:officiant_list_manage' entity.slug %}" class="list-group-item list-group-item-action">
        <i class="fas fa-book"></i> Officiant Manage
    </a>

    <a href="{#}" class="list-group-item list-group-item-action">
        <i class="fas fa-book"></i> Chart of Accounts
    </a>
    <a href="{#}" class="list-group-item list-group-item-action">
        <i class="fas fa-plus-circle"></i> Enter Transactions
    </a>

    <a href="{#}" class="list-group-item list-group-item-action">
        <i class="fas fa-list"></i> Journal Entries
        
    </a>
    <a href="{#}" class="list-group-item list-group-item-action">
        <i class="fas fa-balance-scale"></i> Trial Balance
    </a>
    <a href="{#}" class="list-group-item list-group-item-action">
        <i class="fas fa-chart-line"></i> Income Statement
    </a>
    <a href="{#}" class="list-group-item list-group-item-action">
        <i class="fas fa-file-alt"></i> Balance Sheet
    </a>
    <a href="{#}" class="list-group-item list-group-item-action">
        <i class="fas fa-money-bill-wave"></i> Cash Flow
    </a>
    <a href="{#}" class="list-group-item list-group-item-action">
        <i class="fas fa-money-bill-wave"></i> Cash Flow
    </a>

    <a href="{#}" class="list-group-item list-group-item-action">
        <i class="fas fa-coins"></i> Opening Balance
    </a>
    <a href="{#}" class="list-group-item list-group-item-action">
        <i class="fas fa-users"></i> Members
    </a>
    <a href="{#}" class="list-group-item list-group-item-action">
    <i class="fas fa-cog"></i> Entity Settings
    </a>

    <a href="{#}" class="list-group-item list-group-item-action">
        <i class="fas fa-hand-holding-heart"></i> Offerings
    </a>
</div>